/* HERO SECTION */

html {
  scroll-behavior: smooth;
}
.hero {
  width: 100%;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../assets/hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex-direction: column;
}
.hero img {
  width: 100%;
  object-fit: contain;
  padding: 0 20px;
}
.arrow-down {
  padding: 0 !important;
  max-width: 60px;
  cursor: pointer;
}
.hero h2 {
  color: black;
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
  font-size: 1rem;
}
.hero h2 span {
  text-decoration: underline;
}

/* LAUNCH EDITION */

.launch_edition {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.rotate {
  width: 70px;
  object-fit: contain;
}

html .mb {
  display: none;
}

.le_left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.le_left img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.45s ease-in-out;
  object-fit: cover;
}
.opacity0 {
  opacity: 0;
  pointer-events: none;
}
.img-div {
  width: 100%;
  height: 100%;
  min-height: 1000px;
  position: relative;
}
.le_right {
  width: 50%;
  height: 100vh;
  background: linear-gradient(180deg, #d3cbae 0%, #ad9d67 100%);
  position: sticky;
  top: 0;
  padding-inline: 2rem;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  overflow: hidden;
  isolation: isolate;
}
.bg-shine {
  z-index: -1;
  position: absolute;
  max-width: 100%;
  object-fit: contain;
  left: -10%;
  top: -10%;
}
.right-cont {
  max-width: 500px;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
}
.le_right h1 {
  font-weight: 400;
  color: #ffe779;
  margin-top: 0px;
  font-size: 42px;
  font-weight: bold;
}

.le_right h2 {
  font-size: 17px;
  font-weight: 600;
  color: #ffe779;
}
.stroke {
  -webkit-text-stroke-color: #ffe779;
  -webkit-text-stroke-width: 1.5px;
  color: transparent;
  font-size: 45px;
}
.desc {
  color: #ffffff;
  font-size: 15.5px;
  font-weight: 300;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-style: italic;
  gap: 10px;
}
.desc span:nth-child(2) {
  width: 100%;
  line-height: 18.5px;
}
.desc span:nth-child(1) {
  font-weight: bold;
}
.dkk_wrap {
  display: flex;
  align-items: center;
  color: #ffe779;
  margin: 40px 0;
}

.dkk_div {
  border: 2px solid #ffe779;
  border-radius: 50%;
  padding: 15px 30px;
  margin-right: 20px;
}

.dkk_div span {
  font-size: 1rem;
  font-weight: 400;
}

.dkk_div p {
  margin: 0;
}
.row-div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 100%;
}
.col-cont {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0px;
  width: 100%;
}
.btn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.btn_wrap button {
  width: 119px;
  height: 50px;
  font-weight: 400;
  font-size: 17px;
  transition: 0.4s all;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-weight: 400;
}

.active {
  color: #b0a06c !important;
  background-color: #ffffff !important;
}

.select_wrap {
  width: 250px;
  background: #ffffff;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  height: 50px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 14px;
}

.select_wrap select {
  outline: none;
  background: transparent;
  color: #b0a06c;
  border: none;
  font-size: 17px;
  width: 100%;
  font-weight: 400;
  -webkit-appearance: menulist;
  cursor: pointer;
}

.select_wrap select option {
  background-color: #b0a16c;
  border: 1px solid #ffffff;
  color: #ffffff;
  cursor: pointer;
  padding: 10px;
}

.buy_now {
  background: #ffe779;
  border-radius: 10px;
  color: #b0a16c;
  font-weight: 700;
  width: 100%;
  border: none;
  font-size: 17px;
  height: 48px;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buy_now:hover {
  background-color: #eedb84;
}

/* BLEND */

.blend {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    180deg,
    #2f2b5c 0%,
    rgba(109, 105, 157, 0.39) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  isolation: isolate;
  overflow: hidden;
}
.blend-bg {
  z-index: -1;
  position: absolute;
  top: 11%;
  left: 24%;
  max-width: 100%;
  object-fit: contain;
}

.b_container {
  padding-top: 2.5rem;
  width: 90%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-direction: column; */
}

.blend_content {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  position: relative;
  height: 425px;
}

.blend_content p {
  margin-top: 10px;
  font-size: 17px;
  font-weight: 400;
  max-width: 550px;
  line-height: 1.4;
  overflow: hidden;
  color: white;
  padding: 0;
}

.active_faq p {
  padding: 7px 0;
  height: auto;
  font-style: italic;
}

.blend_imgs img {
  object-fit: contain;
  opacity: 80%;
  position: absolute;
}
.cloud_img {
  left: 40%;
  max-width: 323px;
  height: 191px;
}
.dollar_img {
  max-width: 210px;
  height: 224px;
  top: -18%;
  left: 52%;
}
.sharp_img {
  max-width: 201px;
  height: 180px;
  top: 0%;
  left: 68%;
}

.show {
  opacity: 1;
  height: auto;
  pointer-events: all;
}

.close {
  opacity: 0;
  pointer-events: none;
  height: 0;
}

.desk-pack {
  width: 100%;
  object-fit: contain;
  margin-bottom: -3px;
}
.mob-pack {
  width: 100%;
  object-fit: contain;
  margin-bottom: -3px;
  display: none;
}
@media screen and (max-width: 1384px) {
  .img-div {
    min-height: 700px;
  }
}
@media screen and (max-width: 1344px) {
  .cloud_img {
    left: 50%;
  }
  .dollar_img {
    top: -18%;
    left: 52%;
  }
  .sharp_img {
    top: 0%;
    left: 78%;
  }
}
@media screen and (max-width: 1300px) {
  .desc {
    width: 100%;
  }
  .desc span:nth-child(2) {
    width: 100%;
  }
}
@media screen and (max-width: 1119px) {
  .le_right {
    padding-top: 40px;
    padding-bottom: 40px;
    height: 110vh;
  }
  .col-cont {
    width: 100%;
  }
  .right-cont {
    max-width: 100%;
  }
}
@media screen and (max-width: 1062px) {
  .hero {
    background-size: 100% 100%;
  }
  .blend {
    padding: 50px 0;
  }
  .b_container {
    gap: 5rem;
    padding-inline: 20px;
  }
  .blend_content {
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  .img-div {
    min-height: 550px;
  }
  .active_faq {
    flex: none;
  }
  .blend_imgs img {
    position: static;
  }
  .blend_imgs {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title {
    max-width: 575px;
    object-fit: contain;
  }
}
@media screen and (max-width: 1006px) {
  .col-cont {
    width: 100%;
    align-items: flex-start;
  }
  .le_right {
    height: 125vh;
  }
  .row-div {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
  .btn_wrap {
    width: 100%;
  }
  .btn_wrap button {
    flex: 0.5;
  }
  .select_wrap {
    width: 100%;
    font-weight: bold;
  }
}
@media screen and (max-width: 986px) {
  .le_right {
    padding-inline: 2rem;
  }
  .cloud_img,
  .sharp_img,
  .dollar_img {
    max-width: 70%;
    height: auto;
  }
}

@media screen and (max-width: 725px) {
  .hero {
    background-image: url("../../assets/hero-bg-mob.png");
  }
  .desk-pack {
    display: none;
  }
  .mob-pack {
    display: block;
    width: 100vw;
    object-fit: cover;
    height: 100vh;
  }
  .select_wrap select {
    font-weight: 800;
  }
  .desk {
    display: none;
  }
  html .mb {
    display: flex;
  }
  .img-div {
    min-height: 100vw;
  }
  .launch_edition {
    flex-direction: column;
  }
  .le_left {
    width: 100%;
  }
  .le_right {
    width: 100%;
    justify-content: flex-start;
    padding-top: 2rem;
    height: max-content;
  }
  .splide__pagination__page {
    background-color: transparent !important;
    border: 1px solid #ffffff !important;
    opacity: 1 !important;
    width: 10px !important;
    height: 10px !important;
  }
  .splide__pagination__page.is-active {
    background-color: #ffffff !important;
  }
  .le_left img {
    width: 100%;
    height: 100vw;
    object-fit: cover;
  }

  .b_container {
    width: 100%;
  }
  .close {
    display: none;
  }
  .row-div {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 635px) {
  .title {
    max-width: 100%;
    height: 80px;
  }
}
@media screen and (max-width: 500px) {
  .row-div {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
  }
  .blend_content h2 {
    font-size: 50px;
  }
  .blend-bg {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  .dkk_div {
    padding: 15px 19px;
  }
  .dkk_div span {
    font-size: 0.9rem;
  }

  .blend_content h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 346px) {
  .dkk_div {
    padding: 10px 12px;
  }
  .dkk_div span,
  .le_right p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 330px) {
  .btn_wrap button {
    width: 108px;
  }
}
