* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Archivo", sans-serif;
  /* background: linear-gradient(242.2deg, #E252E0 4.35%, #FDEA95 98.59%); */
}

button {
  cursor: pointer;
}